*{
 margin:0;
 max-width: 100%;
}

.App {
  text-align: center;
}
.container{
  max-width:100%;
  margin:0 auto;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.image-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top:30px;
  padding:20px;
  background-color: #fcfcfc;

}
.news-title{
 margin: 0 auto;
  color: #185799;
    font-weight: 600;
text-align: center;
width: 100%;    
margin-top:50px;
}
.snippet{
  width:600px;
  margin-left:30px;
  margin-top:20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
.meta-information{
  display: flex;
  color:#ddd;
  font-size:16px;  
  margin-left:300px;
}
.meta-title{
  color:#27b841;
  font-size:18px;
  
}
